.modal {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 45px 40px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.smallInputsContainerUp {
  width: 100%;
  display: flex;
  gap: 50px;
}

.smallInputsContainerDown {
  width: 100%;
  display: flex;
  gap: 50px;
}

.label {
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

textarea, select {
  width: 100%;
  padding: 12px; /* Increased padding */
  border-radius: 6px; /* More rounded corners */
  border: 1px solid #ddd;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  padding: 12px 24px; /* Increased padding */
  border-radius: 6px; /* Rounded corners */
  border: none;
  cursor: pointer;
  background-color: #244D5B;
  color: white;
  font-weight: bold;
  align-self: center;
  font-size: 1rem; /* Larger font size */
  transition: background-color 0.3s; /* Smooth color transition */
}

button:hover {
  background-color: #0056b3; /* Darker button color on hover */
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Focus ring */
}

.form select,
.form .react-datepicker-wrapper {
  width: 100%;
}

.form .react-datepicker-wrapper input {
  width: 100%;
}